@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --corcantos: #0B0A07;
    --corletracantos: #EDCBB1;
    --corletraclara: #18c1c4;
    --corletraescura: #657153;
    --corfc: white;
    --corfe: #5b2f32;
    --cor1cfe: #0000004d;
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", cursive;
    --fonte3: "Sriracha", cursive;
}

.passion-one-regular {
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.passion-one-bold {
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.passion-one-black {
    font-family: "Passion One", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
}  

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte1);
}

body {
    width: 100%;
    height: 100%;
}

header {
    background-color: var(--corcantos);
    color: var(--corletracantos);
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 3em;
}

header > p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: var(--corletracantos);
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 3.5vw;
    
}

section.normal {
    color: var(--corletraescura);
}

section.normal > p {
    font-family: var(--fonte3);
}

section.imagen {
    background-color: var(--corfe);
    color: var(--corletraclara);
}

section.imagen > p {
    background-color: var(--cor1cfe);
    width: 60vw;
    font-family: var(--fonte3);
}

footer {
    background-color: var(--corcantos);
    color: var(--corletracantos);
    text-align: center;
    padding: 10px;
}

#backtop {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(152, 152, 152);
    color: white;
    padding: 10px 10px;
    margin: 0px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.481);
    text-shadow:inset 2px 2px 4px rgba(0, 0, 0, 0.481);
}